{% load i18n %}

<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I-Trust Contact Manager</title>

    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- daisyui -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="w-full h-full p-3 flex flex-col justify-center items-center gap-2 max-h-full overflow-auto">
            <h1 class="text-4xl text-center mb-2">{% translate 'Welcome' %}, <b>{{ user.username }}</b></h1>
            <div class="join w-full max-w-xl">
                <input class="grow input input-md input-bordered join-item" placeholder="Search" id="search" />
                <button class="btn border join-item">Search</button>
            </div>
            {% for supplier in suppliers %}
            <div id="supplier-{{ supplier.id }}" class="card card-compact border bg-base-100 w-full max-w-xl shadow-lg">
                <figure class="p-2">
                    <a href="{{ supplier.google_maps }}" class="w-full" target="_blank">
                        <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv-Qzlvd4UDKuF3TCQlEI08pv0wmJGqzAsWw&s"
                        alt="Google Maps Thumbnail"
                        class="w-full" />
                    </a>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{ supplier.name }}</h2>
                    <div class="flex flex-col items-start justify-center gap-1">
                        <div class="flex flex-row items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 -960 960 960" fill="currentColor"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg>
                            <b>{% translate 'Work Phone:' %}</b>
                            <a href="tel:{{ supplier.work_phone }}" class="ms-2 underline">{{ supplier.work_phone }}</a>
                        </div>
                        <div class="flex flex-row items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 -960 960 960" fill="currentColor"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
                            <b>{% translate 'Agent Name:' %}</b>
                            <a class="ms-2 underline">{{ supplier.agent_name }}</a>
                        </div>
                        <div class="flex flex-row items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 -960 960 960" fill="currentColor"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg>
                            <b>{% translate 'Agent Phone:' %}</b>
                            <a href="tel:{{ supplier.agent_phone }}" class="ms-2 underline">{{ supplier.agent_phone }}</a>
                        </div>
                        <div class="flex flex-row items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 -960 960 960" fill="currentColor"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg>
                            <b>{% translate 'Agent Email:' %}</b>
                            <a href="mailto:{{ supplier.email }}" class="ms-2 underline">{{ supplier.email }}</a>
                        </div>
                        <div class="flex flex-row items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 -960 960 960" fill="currentColor"><path d="M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
                            <b>Notes:</b>
                            {% translate supplier.notes %}
                        </div>
                    </div>
                    <div class="card-actions justify-end">
                        <a href="tel:{{ supplier.work_phone }}" class="btn btn-primary">{% translate 'Call Store' %}</a>
                        <button onclick="navigator.share({ title: 'Location shared', text: '{{ supplier.google_maps }}\n{{ supplier.name }}\n{{ supplier.work_phone }}'})" class="btn btn-secondary">{% translate 'Share' %}</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not suppliers %}
                <h2 class="text-center text-lg">{% translate 'No suppliers available' %}</h2>
            {% endif %}
        </div>
        <script>
            const suppliers = {{ suppliers_raw|safe }};
            
            function search(q) {
                for (const supplier of suppliers) {
                    let id = `supplier-${supplier.pk}`;
                    let element = document.getElementById(id);
                    let fields = ["name", "work_phone", "agent_name", "agent_phone", "email"];

                    let found = false;
                    for (const field of fields) {
                        _ = supplier.fields[field] || "";
                        if (_.toLowerCase().includes(q.toLowerCase())) {
                            found = true;
                            break;
                        }
                    }

                    if (found) {
                        element.style.display = "block";
                    } else {
                        element.style.display = "none";
                    }
                }
            }

            $(document).ready(() => {
                // check s parameter
                const urlParams = new URLSearchParams(window.location.search);
                const s = urlParams.get('s');

                if (s) {
                    search(s);
                    search.value = s;
                }

                $('#search').on('input', (e) => {
                    search(e.target.value);
                });
            });
        </script>
    {% else %}
        <h1>{% translate 'Welcome to I-Trust Contact Manager' %}</h1>
        <a href="/admin/login">Login</a>
    {% endif %}
</body>
</html>